.menu{

    position: relative;
    width: 1432px;
    height: 32px;
    
    background: #121162;
}
.cabecalho{
    position: relative;
    width: 1432px;
    height: 129px;
    
    background: linear-gradient(180deg, #352D92 0%, #000000 100%);
}
.cabecalhp-img3{
    position: absolute;
    width: 108px;
    height: 147px;
    left: 19px;
    top: -18px; 
}
.cabecalho-apre{
    position: absolute;
width: 262px;
height: 30px;
left: 145px;
top: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 17px;
line-height: 21px;
text-align: center;

color: #FFFFFF;
{